.patient-info-container {
    width: 30%;
    float: left;
    padding: 15px;
    margin-right: 5%;
    margin-top: 20px;
    background-color: rgb(210, 224, 246);
}

.chat-box-container {
    width: 600px;
    height: 700px;
    float: right;
}

.top .child1 {
    display: inline-block;
    float: left;
    font-size: 30px;
}

.chat-box-container .top {
    margin-left: 15px;
}

.chat-box-outline {
    width: 90%;
    height: 500px;
    padding: 15px;
    margin-top: 55px;
    border: 1px solid rgb(186, 186, 186);
    position: relative;
}

.chat-box-outline .chat-header {
    color: #bababa;
    text-align: center;
    margin-bottom: 10px;
}

.chat-box-outline .chat-messages {
    float: right;
    text-align: center;
    overflow-y: scroll;
}

.chat-box-outline .message {
    border: 1px solid #bababa;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #e6eef4;
}

.chat-box-outline .chat-input {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}