.insurance-page .insurance-content {
    display: flex;
    flex-direction: column;
    padding: 0px 15% 10px;
}

.insurance-page .insurance-welcome {
    margin: 25px 0 8px 10px;
    font-size: 26px;
    font-weight: 500;
}

.insurance-page h2 {
    font-size: 21px;
    margin: 10px 0;
}

.insurance-page .browse-insurance-plans,
.insurance-page .find-an-insurance {
    margin: 9px;
    padding: 15px 29px;
    border-radius: 10px;
}

.covid-19-precautions {
    background-color: rgb(240, 145, 134);
}

.insurance-page .browse-insurance-plans,
.insurance-page .find-an-insurance {
    background-color: rgb(113, 176, 227);
}

.insurance-page .insurance-services {
    display: flex;
}

.insurance-page hr {
    border: 0.5px solid black;
}

.insurance-page .insurance-services button {
    background-color: brown;
    color: white;
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.insurance-page .insurance-services button:hover {
    background-color: rgb(111, 25, 25);
}

.insurance-page .header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}