.doctor-page .content {
    width: 80%;
    margin: 0 auto;
}

.doctor-page .welcome {
    margin: 19px 0 16px 10px;
    font-size: 26px;
    font-weight: 500;
}

.doctor-page h2 {
    margin: 10px 0;
}

.doctor-page .doctor-reviews h3 {
    margin: 25px 0 10px;
}

.doctor-page .doctor-reviews p {
    margin-top: 0;
}

.doctor-page .doctor-reviews,
.doctor-page .find-a-patient,
.doctor-page .bedAvailability {
    margin: 9px;
    padding: 15px 29px;
    border-radius: 10px;
}

.doctor-reviews {
    background-color: rgb(195, 211, 236);
}

.doctor-page .find-a-patient,
.doctor-page .bedAvailability {
    background-color: rgb(175, 152, 208);
}

.doctor-page .doctor-services {
    display: flex;
}

.doctor-page hr {
    border: 0.5px solid black;
}

.doctor-page .doctor-services button {
    background-color: rgb(102, 71, 180);
    color: white;
    width: 100%;
    margin-bottom: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.doctor-page .doctor-services button:hover {
    background-color: rgb(37, 32, 130);
}

.doctor-page .hospitals {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Display two columns */
  grid-gap: 1rem;
}

.doctor-page .hospital {
  display: flex;
  border: 2px solid #e7e7e7;
  border-radius: 8px;
  padding: 0.5rem;
  box-shadow: 0 10px 8px 0 rgba(15, 7, 72, 0.2);
  transition: 0.3s;
  background-color: #e7e7e7;
}
.doctor-page .dr-portfolio img {
    width: 150px;
    border-radius: 10%;
     margin-right: 15px;
}

.doctor-page .dr-portfolio {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 10px;
}

.doctor-page .portfolio img {
    width: 50px;
    border-radius: 50%;
}


.doctor-page .text-content {
  padding-left: 20px; 
}

.doctor-page p{
    font-size: small;
}

